    <footer>
      <div class="legal">
          <p>© 2020 Shopzilla.com </p>
          <p>All Rights Reserved.</p>
          <p>CSE-341 Spring 2021 - Dallas Eaton</p>
      </div>
    </footer>  
    <script src="/js/main.js"></script>
    <script>

        function on() {
          document.getElementById("overlay").style.display = "block";
        }
        
        function off() {
          document.getElementById("overlay").style.display = "none";
        }
    </script>

  </body>
      
</html>