<header>
    <section class="headerText">
        <a href="/"><img id="site-icon" src="/images/godzilla.png" alt="site logo"></a>
        <h1 id="site-name">Shopzilla.com</h1>
        <div class="motto">Shop 'til you drop!</div>
    </section>
    <button type="button" onclick="on()"><img id="shoppingCart" src="/images/cart.png" alt="shopping cart"></button>
</header>