<header>
    <section class="headerText">
        <a href="/" title="Back to shop page"><img id="site-icon" src="/images/godzilla.png" alt="site logo"></a>
        <h1 id="site-name">Shopzilla.com</h1>    
    </section>
    <% if (isAuthenticated) { %>
        <div class="welcome">
            <span><a href="/account" class="btn" title="Go to account page">Welcome, <%= firstName %></a></span>
            <form action="/logout" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" title="Logout of your account" class="btn">Logout</button>
            </form>
            <button type="button" onclick="on()"><img id="shoppingCart" src="/images/cart.png" alt="shopping cart"></button>
        </div>
    <% } %>
</header>