<!--Overlay for the cart-->
<div id="overlay" onclick="off()">
    <div id="text">
        <h6>Your Cart</h6>
        <p>Items: 0</p>
        <h6>Contents:</h6>
        <span>Your Cart Is Empty!</span>
        <p>Subtotal: $0.00</p>
        <p>Tax: $0.00</p>
    </div>
</div>