@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "../_partials/cart";
@import "../_partials/forms";
@import "../_partials/orders";
@import "../_partials/products";
@import "../_partials/overlay";
@import "../_partials/auth";
@import "../_partials/large";
@import "../_partials/medium";
@import "../_partials/small";

.welcome {
    display: flex;
    flex-direction: column;
    text-align: end;
    button {
        margin: 9px 0 0 65px;
        cursor: pointer;
    }
}

#index__main {
    text-align: center;

    h3 {
        color: rgba(38, 30, 80, 0.7);;
        font-family:cursive;
    }

    img {
        margin-top: 7rem;
        margin-bottom: 7rem;
    }
}
